DB_URL=jdbc:mysql://localhost:3307/insurance_interface?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=insurance_user
DB_PASSWORD=change_me
CAR_INSURANCE_API_SERVICE_KEY=your_public_data_service_key
CAR_INSURANCE_CONTRACT_API_BASE_URL=http://apis.data.go.kr/1160100/service/GetFPAtmbInsujoinInfoService
CAR_INSURANCE_CONTRACT_TIMEOUT_MS=5000
CAR_INSURANCE_CONTRACT_NUM_OF_ROWS=300
